*{
  margin:0;
  padding:0;
}
body{
  background: #f1f1f1;
  height: 100vh;
  cursor:none;
}
.App{
  width:100vw;
  height:100vh;
}
h1{
  text-align:center;
  font-size: 40px;
}
.curseur-perso{
  width:40px;
  height:40px;
  border: 1px solid #333;
  border-radius:50%;
  position:absolute;
  pointer-events: none; /* Pour garder les fonctionnalités de la souris clique/ surlignage etc ...*/
}
.curseur-perso::before{
  content: '';
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 5px;
  height: 5px;
  background: crimson;
  border-radius: 50%;
}